.page-content
  section.card-wide
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title
        h2.mdl-card__title-text Your Contacts
      .mdl-card__supporting-text
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent
          | Everyone
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect
          | Relatives
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect
          | Friends
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect
          | Clients
      .mdl-card__list
        ul#contacts-list.demo-list-two.contact-list.mdl-list
          .mdl-card__actions.mdl-card--border
            a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
              | Add more contacts
      .mdl-card__menu
        button#add-contact-icon.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
          a(href="#")
            i.material-icons add
  script#contact-list-items(type="text/x-tmpl").
    {% for (var i=0; i<o.contacts.length; i++) { %}
      <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>{%=o.contacts[i].first_name%} {%=o.contacts[i].last_name%}</span>
            <span class="mdl-list__item-sub-title">{%=o.contacts[i].phone%} / {%=o.contacts[i].email%}</span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <span class="mdl-list__item-secondary-info">{%=o.contacts[i].type%}</span>
              <div class="icon icon-ic_play-circle_outline_black_24dp"></div>
              <a data-id="{%=o.contacts[i].id%}" class="mdl-list__item-secondary-action {%=o.contacts[i].important ? 'unfave-contact mdl-button--colored' : 'fave-contact' %} mdl-button mdl-js-button mdl-button--icon" href="#">
                <i class="material-icons">star</i>
              </a>
            </span>
            <span class="mdl-list__item-secondary-content">
          <button data-id="{%=o.contacts[i].id%}" class="delete-contact mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
            <i class="material-icons">remove</i>
          </button>
        </span>
      </li>
    {% } %}

