header.mdl-layout__header
  .mdl-layout__header-row
    span.mdl-layout-title Address Book
  .mdl-layout__tab-bar.mdl-js-ripple-effect
    a#show-contacts-tab-btn.mdl-layout__tab.is-active(href="#fixed-tab-1") Contacts
    a#add-contact-tab-btn.mdl-layout__tab(href="#fixed-tab-3") Add Contact
.mdl-layout__drawer
  span.mdl-layout-title Address Book
